:root {
    --text-color: #3A4856;
    --btn-text: #DFE9F3;
    --section-color: #C2FFF7;
    --font: 'Montserrat', sans-serif;
}


body {
    background-image: url('assets/swatch.png');
    width: 100%;
    height: 100%;
    /* width: 1432px;
    height: 8254px; */
    /* flex-shrink: 0; */
    margin: 0;
    font-family: var(--font);
    /* overflow: hidden; */
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;


}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
}

a:hover {
    /* color: #28323B;
    text-decoration: underline; */
    background-color: var(--text-color);
    color: var(--section-color);
    font-size: 25px;
    transform: scale(1.5);
}


nav img {

width: 65px;
height: 65px;
transform: rotate(30.581deg);
flex-shrink: 0;
padding-left: 15px;


}

nav img:hover {
    transform: rotate(50.581deg);
    transition:0.5s;
    transform: scale(1.2);
}

header {
    /* width: 100%; 
    height: 100%;  */
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 40px;
    gap: 20px; 
    display: flex;
    position:relative;
    margin-bottom: 500px;

}

#heading {
    color: #3A4856; 
    text-align: center;
    font-size: 56px; 
    font-family: Montserrat; 
    font-weight: 600; 
    word-wrap: break-word;
    /* margin-bottom: 300px; */

}

 h1 {

    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;

}

#subheading {
    width: 854px; 
    height: 100px; 
    text-align: center; 
    color: var(--text-color); 
    font-size: 25px; 
    font-family: var(--font); 
    font-weight: 300; 
    word-wrap: break-word;
}

.btn {
    width: 162px; 
    height: 60px; 
    padding-left: 8px; 
    padding-right: 8px; 
    padding-top: 18px; 
    padding-bottom: 18px;
    background: var(--text-color);
    color: var(--section-color);
    font-family: var(--font);
    border-radius: 25px; 
    border: none;
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}

.btn:hover {
    transition: 0.5s;
    background: #28323B;
    color: var(--section-color);
    transform: scale(1.1);


}

#book-img {
    width: 367px; 
    height: 456px; 
    position: absolute;
    background-image: url("assets/bookboy.png");
    top: 190px;
    right: 80px;
    margin-bottom: 50px;

}

#children-books {
    width: 509px; 
    height: 480px; 
    position: absolute;
    background-image: url("assets/childrenbooks.png");
    top: 190px;
    left: 80px;
    margin-bottom: 50px;

}


#mission {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    /* padding-top: 40px; */
    gap: 20px; 
    display: flex;
    text-align: center;
    position:relative;
    margin-bottom: 500px;
}

#mission-heading {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;

}

#mission-details {
    width:1100px; 
    height:450px; 
    background: #C2FFF7; 
    border-radius: 70px; 
    border: 1px #3A4856 solid;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
} 

#mission-text {
    /* width: 971px; 
    height: 210px; */
    text-align: center;  
    /* display:flex; */
    /* align-self: center; */
    margin:auto 0;
    display: inline-block;
    max-width: 971px;
    color: #3A4856; 
    font-size: 30px; 
    font-family: Montserrat; 
    font-weight: 200; 
    word-wrap: break-word;
}

#children-books2 {
    width: 640px; 
    height: 336px; 
    position: absolute;
    background-image: url("assets/childrenbooks2.png");
    top: 420px;
    left: 390px;
    margin-bottom: 50px;

}

#history {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    /* padding-top: 40px; */
    gap: 20px; 
    display: flex;
    text-align: center;
    position:relative;
    margin-bottom: 500px;
}

#history-heading {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;

}

#history-details1 {
    width: 1100px;
    height: 450px;
    background: #C2FFF7;
    border-radius: 70px;
    border: 1px #3A4856 solid;
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    text-align: center;
    margin-bottom: 140px;

}

#history-text1 {
     /* width: 971px; 
    height: 210px; */
    text-align: center;  
    /* display:flex; */
    /* align-self: center; */
    margin:auto 0;
    display: inline-block;
    max-width: 971px;
    color: #3A4856; 
    font-size: 30px; 
    font-family: Montserrat; 
    font-weight: 200; 
    word-wrap: break-word;
}

#history-details2 {
    width:1100px; 
    height:450px; 
    background: #C2FFF7; 
    border-radius: 70px; 
    border: 1px #3A4856 solid;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#history-text2 {
     /* width: 971px; 
    height: 210px; */
    text-align: center;  
    /* display:flex; */
    /* align-self: center; */
    margin:auto 0;
    display: inline-block;
    max-width: 971px;
    color: #3A4856; 
    font-size: 30px; 
    font-family: Montserrat; 
    font-weight: 200; 
    word-wrap: break-word;
}














