:root {
    --text-color: #3A4856;
    --btn-text: #DFE9F3;
    --section-color: #C2FFF7;
    --font: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}



body {
    background: url('assets/Swatch.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font);
}

@media screen and (max-width: 1200px) {

    body {
        width: 100%;
        background-size: auto;
    }

    /* Add more responsive styles as needed */
}





nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;


}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
}




nav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
}

nav a:hover {
    
    background-color: var(--text-color);
    color: var(--section-color);
    font-size: 25px;
    transform: scale(1.5);
}


nav img {

width: 65px;
height: 65px;
transform: rotate(30.581deg);
flex-shrink: 0;
padding-left: 15px;


}

nav img:hover {
    transform: rotate(50.581deg);
    transition:0.5s;
    transform: scale(1.2);
}

@media screen and (max-width: 1400px) {
    nav {
        flex-direction: row;
        /* align-items: center; */
        display: flex;
    }

    nav ul {
        flex-direction: row;
        text-align: center;
    }

    nav a {
        font-size: 15px;
        padding: 10px;
    }

    nav a:hover {
    
      
        font-size: 18px;
        transform: scale(1.5);
    }
    

    nav img {
        width: 40px;
        height: 40px;
    }

    /* Add more responsive styles as needed */
}





header {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 40px;
    gap: 20px; 
    display: flex;
    position:relative;
    margin-bottom: 500px;

}

#heading {
    color: var(--text-color); 
    text-align: center;
    font-size: 56px; 
    font-family: var(--font); 
    font-weight: 600; 
    word-wrap: break-word;
 
}

 h1 {

    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;

}

#subheading {
    width: 854px; 
    height: 100px; 
    text-align: center; 
    color: var(--text-color); 
    font-size: 25px; 
    font-family: var(--font); 
    font-weight: 300; 
    word-wrap: break-word;
}

@media screen and (max-width: 1200px) {
 

    #subheading {

       
            width: 500px; 
            height: 100px; 
            text-align: center; 
            color: var(--text-color); 
            font-size: 15px; 
            font-family: var(--font); 
            font-weight: 300; 
            word-wrap: break-word;     
      
    }

}

.btn {
    width: 162px; 
    height: 60px; 
    padding-left: 8px; 
    padding-right: 8px; 
    padding-top: 18px; 
    padding-bottom: 18px;
    background: var(--text-color);
    color: var(--section-color);
    font-family: var(--font);
    border-radius: 25px; 
    border: none;
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}

.btn:hover {
    transition: 0.5s;
    background: #28323B;
    color: var(--section-color);
    transform: scale(1.1);


}

#book-img {
    width: 367px; 
    height: 456px; 
    position: absolute;
    background-image: url("assets/bookboy.png");
    top: 190px;
    right: 80px;
    margin-bottom: 50px;

}


@media screen and (max-width: 1200px) {
 

    #book-img {

        width: 310px;
        height: 290px;
        background-image: url("assets/bookboysmall.png");
        background-size: contain;
        top: 190px;
        right: 50px;
        margin-bottom: 50px;       
      
    }

}

#children-books {
    width: 509px; 
    height: 480px; 
    position: absolute;
    background-image: url("assets/childrenbooks.png");
    top: 190px;
    left: 80px;
    margin-bottom: 50px;

}


@media screen and (max-width: 1200px) {
 

    #children-books {

        width: 320px;
        height: 290px;
        background-image: url("assets/childrenbooksheadersmall.png");
        background-size: contain;
        top: 190px;
        left: 50px;
        margin-bottom: 50px;    
      
    }

}


#mission {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; 
    display: flex;
    text-align: center;
    position:relative;
    margin-bottom: 600px;
}

#mission-heading {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;

}

#mission-details {
    width:1100px; 
    height:450px; 
    background: var(--section-color); 
    border-radius: 70px; 
    border: 1px var(--text-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
} 

#mission-text {
    text-align: center;  
    margin:auto 0;
    display: inline-block;
    max-width: 971px;
    color: var(--text-color); 
    font-size: 28px; 
    font-family: var(--font); 
    font-weight: 200; 
    word-wrap: break-word;
}

#children-books2 {
    width: 640px; 
    height: 336px; 
    position: absolute;
    background-image: url("assets/childrenbooks2.png");
    top: 420px;
    margin-bottom: 50px;
    align-self: center;

}


@media screen and (max-width: 1200px) {
 

    #mission-details {
        width:100%; 
        height: 200px; 
    
       
    } 

    #mission-text {
        font-size: 15px;
       
    }

    #children-books2 {
        width: 300px; 
        height:155px; 
     
        background-image: url("assets/missionbookssmall.png");
        top: 210px;
        margin-bottom: 50px;
        
    
    }



}




#program {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    display: flex;
    text-align: center;
    position: relative;
    margin-bottom: 20px; 
}

#program-heading {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;
}

#program-details1 {
    width: 1100px;
    height: 450px;
    background: var(--section-color);
    border-radius: 70px;
    border: 1px var(--text-color) solid;
    margin-right: auto;
    margin-left: 63px;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 230px;
}


#program-text1 {
    text-align: center;  
    margin:auto 0;
    display: inline-block;
    max-width: 971px;
    color: var(--text-color); 
    font-size: 30px; 
    font-family: var(--font); 
    font-weight: 200; 
    word-wrap: break-word;
}

/* 
img {
    max-width: 100%;
    height: auto;
} */



#mom-kids {
    width: 583px; 
    height: 280px; 
    position: absolute;
    background-image: url("assets/momwithkids.png");
    top: 460px;
    left: 820px;
    margin-bottom: 50px;

}



@media screen and (max-width: 1200px) {
 

    #program-details1 {
        width:100%; 
        height: 200px; 
    
       
    } 

    #program-text1 {
        font-size: 15px;
        margin: auto;
       
    }

    #mom-kids {
        width: 340px; 
        height:200px; 
     
        background-image: url("assets/momkidssmall.png");
        top: 240px;
        right: 70px;
        margin-bottom: 50px;
        
    
    }



}


#program-details2 {
    width: 1100px;
    height: 450px;
    background: var(--section-color);
    border-radius: 70px;
    border: 1px var(--text-color) solid;
    margin-left: auto;
    margin-right: 63px;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 300px;
}

#program-text2 {
    text-align: center;  
    margin:auto 0;
    display: inline-block;
    max-width: 971px;
    color: var(--text-color); 
    font-size: 30px; 
    font-family: var(--font); 
    font-weight: 200; 
    word-wrap: break-word;
}

#wheelchair {
    width: 583px; 
    height: 402px; 
    position: absolute;
    background-image: url("assets/wheelchair.png");
    top: 1200px;
    left: 10px;
    margin-bottom: 50px; 
    /* align-self: left; */

} 

@media screen and (max-width: 1200px) {

   
    #program-details2 {
        width:100%; 
        height: 200px; 
    
       
    } 

    #program-text2 {
        font-size: 15px;
        margin: auto;
       
    }

 

    #wheelchair {

            width: 260px; 
            height: 220px;
        
            background-image: url("/dig6647finalproj/assets/wheelchairsmall.png");
            background-size: contain;
            top: 740px;
            right: 1300px;
            margin-bottom: 50px;
        
      
    }

  

    /* Add more responsive styles as needed */
}


#testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 500px;
    gap: 70px;
}

#testimonial-heading {

    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;

}

.testimonial-container {
    display: flex;
    gap: 80px;
    align-items: center;
   

}


.test-grid {
    width: 593px;
    height: 959px;
    flex-direction: column;
    background: var(--section-color);
    border-radius: 70px;
    border: 1px var(--text-color) solid;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    
}

.test-grid img {
    width: 300px; 
    height: 300px; 
    margin-top: 78px;
}

.testimonial-text {
    text-align: center;
    color: var(--text-color);
    font-size: 30px;
    font-family: var(--font);
    font-weight: 200;
    word-wrap: break-word;
    margin-top: 80px;
     
  

}



@media screen and (max-width: 1200px) {

    .test-grid {
        width: 100%;
        height: 850px;
        
        
    }
    
    .test-grid img {
        width: 300px; 
        height: 300px; 
        margin-top: 78px;
    }
    
    .testimonial-text {
      
        font-size: 18px;
      
        margin-top: 80px;
         
      
    
    }
    

    /* Add more responsive styles as needed */
}


#contact {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 30px; 
    display: flex;
    text-align: center;
    position:relative;

}

#contact-heading {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;

}

#contact-details {
    width:1100px; 
    height:450px; 
    background: var(--section-color); 
    border-radius: 70px; 
    border: 1px var(--text-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 400px;
}

#fcf-form-id {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: var(--text-color);
}

.fcf-form-group {
    padding: 20px;
}

.fcf-label {
    color: var(--text-color);
    font-weight: 400;

}


.fcf-credit {
    color: var(--text-color);
    font-weight: 400;

}


.fcf-credit a {
    color: var(--text-color);
    font-weight: 400;
    text-decoration: underline;

}

#contact-kids {
    width: 541px; 
    height: 456px; 
    position: absolute;
    background-image: url("assets/contactuskids.png");
    top: 40px;
    right: 40px; 
    margin-bottom: 50px;
    align-self: left; 

} 



@media screen and (max-width: 1200px) {

    #contact-details {
        width: 100%;
    }

    #contact-kids {

        width: 350px; 
        height: 265px; 
        background-image: url('assets/contactuskidssmall.png');
        top: 200px;
        right: 10px; 
        margin-bottom: 50px;

    }

    /* Add more responsive styles as needed */
}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--section-color);
    color: var(--text-color);
    font-weight: 100;
    width:100%;
    height:140px;
  
} 

@media screen and (max-width: 1400px) {

    #footer {
        width: 100%;
    }

    /* Add more responsive styles as needed */
}









/* #contact-kids {
    background-image: url("assets/contactuskidssmall.png");
    background-size: contain;
} */




/* nav {
    flex-direction: column;
    align-items: center;
}

nav ul {
    flex-direction: column;
    text-align: center;
}

nav a {
    padding: 10px;
}

nav img {
    width: 40px;
    height: 40px;
}

body {
    background-attachment: scroll;
    /* Adjust other styles as needed for smaller screens */
/* } */
